.navbar{
    display: flex ;
    justify-content: space-between;
    background-color: aquamarine;
    width: 100%;
    min-width: 720px;
}

.navbar-main-title{
    margin:30px
}

.navbar-sub-titles {
    display: flex;
    flex-direction: row;
}

.navbar-title{
    margin:30px
}